doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Join the #{community} community on Slack!
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="https://code.cdn.mozilla.net/fonts/fira.css", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main
        .credits
          a(href="https://www.mozilla.org/")
            img.mozilla-logo(src="/images/mozilla_logo.svg", title="Mozilla", alt="Mozilla")
        .header
          h1.masthead__wordmark
            span #{community}
          h2(class="#{isFailed?'error':''}") !{message}
